# Configuration files
config.json

# Python virtual environment
venv/
*.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
